version: "7.0"
image: mongo:7.0
description: MongoDB 7.0
port: 27017
protocol: tcp
volumes:
  - /data/db
environment:
  MONGO_INITDB_ROOT_PASSWORD: admin
  MONGO_INITDB_ROOT_USERNAME: admin
healthcheck:
  test:
    - CMD
    - mongosh
    - --eval
    - db.adminCommand('ping')
  interval: 10s
  timeout: 5s
  retries: 5
  start: 20s
resources:
  memory_min: 512m
  memory_max: 2g
  cpu_min: "0.5"
  cpu_max: "2.0"
