version: "2.48"
image: prom/prometheus:v2.48.0
description: Prometheus 2.48
port: 9090
protocol: http
volumes:
  - /prometheus
healthcheck:
  test:
    - CMD
    - wget
    - --spider
    - -q
    - http://localhost:9090/-/healthy
  interval: 10s
  timeout: 5s
  retries: 3
  start: 10s
resources:
  memorymin: 256m
  memorymax: 1g
  cpumin: "0.25"
  cpumax: "1.0"
