version: "8.0"
image: mysql:8.0
description: MySQL 8.0
port: 3306
protocol: tcp
volumes:
  - /var/lib/mysql
environment:
  MYSQL_DATABASE: myapp
  MYSQL_PASSWORD: password
  MYSQL_ROOT_PASSWORD: root
  MYSQL_USER: user
healthcheck:
  test:
    - CMD
    - mysqladmin
    - ping
    - -h
    - localhost
  interval: 10s
  timeout: 5s
  retries: 5
  start: 30s
resources:
  memory_min: 512m
  memory_max: 2g
  cpu_min: "0.5"
  cpu_max: "2.0"
