version: "11.2"
image: mariadb:11.2
description: MariaDB 11.2
port: 3306
protocol: tcp
volumes:
  - /var/lib/mysql
environment:
  MARIADB_DATABASE: myapp
  MARIADB_PASSWORD: password
  MARIADB_ROOT_PASSWORD: root
  MARIADB_USER: user
healthcheck:
  test:
    - CMD
    - healthcheck.sh
    - --connect
    - --innodb_initialized
  interval: 10s
  timeout: 5s
  retries: 5
  start: 30s
resources:
  memory_min: 512m
  memory_max: 2g
  cpu_min: "0.5"
  cpu_max: "2.0"
